<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" href="/img/favicon.ico"/>
	<!--<link rel="stylesheet" href="http://neo4j-contrib.github.io/developer-resources/language-guides/assets/css/main.css">-->
    <link rel="stylesheet" type="text/css" href="/css/main.css"/>
    <title>WikiLink - Exploring the Wikipedia</title>
</head>

<body>
<div id="graph">
</div>

<div role="navigation" class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="row">
			<div class="navbar-header col-sm-6 col-md-6">
                <div class="logo-well">
                    <a href="./"><img src="/img/favicon.ico" alt="WikiLink - Graphing the Wikipedia" id="logo"></a>
                </div>
                <div class="navbar-brand">
                    <div class="brand">WikiLink &nbsp;&#x21cc;&nbsp; Exploring the Wikipedia</div>
                </div>
            </div>		
            
			<div class="col-sm-6 col-md-6">
                <ul class="nav navbar-nav">
                    <li>
                        <form role="search" class="navbar-form" id="search">
                            <div class="form-group">
                                <input type="text" value="" placeholder="Explore something!" class="form-control" id="btn-search" name="search">
                            </div>
							<div class="form-group">
								<input type="Number" value="10" placeholder="Rows" class="form-control" name="rowlimit" id="rowlimit" maxlength= "3";>
							</div>
                            <button class="btn btn-default" type="submit">Explore</button>
							<font size=2>(Rows min 1, max 500)</font>
                        </form>
                    </li>
                </ul>
            </div>	
        </div>
    </div>
</div>

{% include 'menu.html' %}

<style type="text/css">
    .node { stroke: #222; stroke-width: 1.5px; }
    .node.category { fill: #888; }
    .node.wiki { fill: #BBB; }
    .link { stroke: #999; stroke-opacity: .6; stroke-width: 1px; }
</style>

<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script type="text/javascript" src="http://d3js.org/d3.v3.min.js"></script>
<script type="text/javascript" src="/js/wikilink-explore.js"></script>
</body>
</html>
