<div role="navigation" class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
        <div class="row">
			<div class="navbar-header col-sm-6 col-md-6">
                <div class="logo-well">
                    <a href="./">
                    <img src="/img/favicon.ico" alt="WikiLink - Graphing the Wikipedia" id="logo" alt="WikiLink">
                    </a>
                </div>
                <div class="navbar-brand">
                    <div class="brand">WikiLink &nbsp;&#x21cc;&nbsp; Graphing the Wikipedia</div>
                </div>
            </div>		
            
			<div class="col-sm-6 col-md-6">
                <ul class="nav navbar-nav">
                    <li>
						<span style="float:left;">MENU</span>
						<div class="logo-well">
							<a href="./">
							<img src="/img/home.png" title="WikiLink Home" alt="WikiLink - Graphing the Wikipedia" id="menu-img-home">
							</a>
						</div>	
						<div class="logo-well">
							<a href="./search" alt="Search in the Wikipedia">
							<img src="/img/search.png" title="Search in the Wikipedia" alt="Search in the Wikipedia" id="menu-img-search">
							</a>
						</div>	
						<div class="logo-well">
							<a href="./explore" alt="Enjoy the views!">
							<img src="/img/camera.png" title="Enjoy the views!" alt="Gaming the Wikipedia" id="menu-img-game">
							</a>
						</div>		
						<div class="logo-well">
							<a href="./graph" alt="Graphing the Wikipedia">
							<img src="/img/graph-list.png" title="Graphing the Wikipedia" alt="Graphing the Wikipedia" id="menu-img-graph">
							</a>
						</div>				
						<div class="logo-well">
							<a href="./explore-path" alt="Find the shortest Path on the Wikipedia">
							<img src="/img/graph-path.png" title="Find the shortest Path on the Wikipedia" alt="Find the shortest Path on the Wikipedia" id="menu-img-explore-path">
							</a>
						</div>							
						<div class="logo-well">
							<a href="./contact" alt="Contact WikiLink">
							<img src="/img/contact.png" title="Contact WikiLink" alt="WikiLink - Graphing the Wikipedia" id="menu-img-contact">
							</a>
						</div>	
						<div class="logo-well">
							<a href="./tos">
							<img src="/img/compliance.png" title="WikiLink - Licenses & Terms of Service" alt="WikiLink - Licenses & Terms of Service" id="menu-img-tos">
							</a>
						</div>		
						<div class="logo-well">
							<a href="http://en.wikipedia.org" target="_blank" alt="Visit Wikipedia">
							<img src="https://upload.wikimedia.org/wikipedia/commons/7/77/Wikipedia_svg_logo.svg" 
								alt="By English: Redrawn in SVG by Otourly (concept by Paullusmagnus) Deutsch: Nachgezeichnet als Vektorgrafik von Otourly (Konezpt von Paullusmagnus). (Original image Image:Wikipedia-logo.png) [CC BY-SA 3.0 (https://creativecommons.org/licenses/by-sa/3.0)], via Wikimedia Commons" 
								title="Visit Wikipedia" id="menu-img-wikipedia">
							</a>
						</div>		
						<div class="logo-well"><br /><span style="float:bottom;vertical-align:bottom">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://github.com/fdezdaniel/WikiLink" alt="WikiLink GitHub" target="_blank">@WikiLink 2017</a></span></div>												
                    </li>
                </ul>
            </div>			
        </div>
    </div>
</div>
<div id="divHiddenLang" style="display: none;"></div>
<!--End Menu fixed bottom-->